@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root,
	:root[data-theme="light"] {
		color-scheme: light;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		--theme-bg: 220deg 23% 95%;
		--theme-link: 11deg 59% 67%;
		--theme-text: 234deg 16% 35%;
		--theme-accent: 231deg 97% 72%;
		--theme-accent-2: 233deg 13% 41%;
		--theme-quote: 220deg 91% 54%;
	}

	:root[data-theme="dark"] {
		color-scheme: dark;
		--theme-bg: 232deg 23% 18%;
		--theme-link: 10deg 58% 90%;
		--theme-text: 227deg 68% 88%;
		--theme-accent: 234deg 82, 85%;
		--theme-accent-2: 228deg 39% 80%;
		--theme-quote: 220deg 83% 75%;
	}

	html {
		@apply scroll-smooth;
	}

	body {
		@apply mx-auto flex min-h-screen max-w-3xl flex-col bg-bgColor px-8 pt-16 text-sm font-normal text-textColor antialiased;
	}
}
