@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root,
	:root[data-theme="light"] {
		color-scheme: light;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		--theme-bg: var(--ctp-latte-base-hsl);
		--theme-text: var(--ctp-latte-text-hsl);
		--theme-subtext: var(--ctp-latte-subtext1-hsl);
		--theme-subtle: var(--ctp-latte-surface0-hsl);
		--theme-accent: var(--ctp-latte-sapphire-hsl);
		--theme-accent-2: var(--ctp-latte-lavender-hsl);
		--theme-link: var(--ctp-latte-peach-hsl);
		--theme-tag: var(--ctp-latte-subtext0-hsl);
		--theme-warning: var(--ctp-latte-yellow-hsl);
		--theme-ring: var(--ctp-latte-sapphire-hsl);
	}

	:root[data-theme="dark"] {
		color-scheme: dark;
		--theme-bg: var(--ctp-mocha-base-hsl);
		--theme-text: var(--ctp-mocha-text-hsl);
		--theme-subtext: var(--ctp-mocha-subtext1-hsl);
		--theme-subtle: var(--ctp-mocha-surface0-hsl);
		--theme-accent: var(--ctp-mocha-sapphire-hsl);
		--theme-accent-2: var(--ctp-mocha-lavender-hsl);
		--theme-link: var(--ctp-mocha-peach-hsl);
		--theme-tag: var(--ctp-mocha-subtext0-hsl);
		--theme-warning: var(--ctp-mocha-yellow-hsl);
		--theme-ring: var(--ctp-mocha-sapphire-hsl);
	}

	html {
		@apply scroll-smooth;
	}

	body {
		@apply mx-auto flex min-h-screen max-w-3xl flex-col bg-background px-8 pt-16 text-sm font-normal text-text antialiased;
	}
}
