---
import aboutImg from "@/assets/rose-bouquet.svg";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
	description: "Oops, looks like this page is missing...",
	title: "404",
};
---

<PageLayout meta={meta}>
	<div class="mb-8 italic text-center">
		<p class="mb-4">A haiku:</p>
		<p>Page not found today,</p>
		<p>Lost in digital twilight,</p>
		<p>Try another way.</p>
	</div>
	<div class="my-4 grid justify-center">
		<Image
			alt="An illustration of a rose bouquet"
			loading="eager"
			src={aboutImg}
		/>
	</div>
</PageLayout>
