---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "About Susie Son",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>Hello! I'm Susie Son, an Android engineer. I'm currently based in Toronto, Canada 🍁</p>
		<h2 class="title text-lg">Some quick facts...</h2>
		<ul class="list-inside list-disc">
			<li>I graduated from the University of Waterloo in 2022 with a Bachelor of Mathematics.</li>
			<li>I have 2 years of Android internship experience from 6 different companies.</li>
			<li>I was a software engineer at Stytch, where I led projects within their React Native SDK.</li>
		</ul>
		<h2 class="title text-lg">What drives me?</h2>
		<p>I thrive on the thrill of solving complex problems and overcoming challenges. During my undergraduate days at Waterloo, I <i>loved</i> diving into mathematical proofs. I felt motivated by digging deeper and getting lost in problems. In my work today, I find myself enjoying learning, teaching, and helping others succeed.</p>
		<p>My core values are kindness, peace, and confidence, and I work every day to embody these principles. I believe that the key to a fulfilling life is wellness and self-improvement. I focus on my mental health and strive to be healthy and happy.</p>
		<h2 class="title text-lg">What I'm working on:</h2>
		<p>When I was in therapy for my social anxiety, I learned the technique of exposure sessions. By creating, logging, and practicing these exposure exercises, I built confidence over time. I had the idea of digitalizing this process through a mobile app called <b>Anchor</b> ⚓. I would be able to see all my past exposures and get insight on my progress. This project is close to my heart, and I hope others will find it helpful 💗</p>
		<h2 class="title text-lg">My life outside of code</h2>
		<p>When I'm not coding, you can usually find me doing one of these things:</p>
		<ul class="list-inside list-disc space-y-3">
			<li>Playing a variety of video games:</li>
			<ul class="list-inside list-disc pl-6">
				<li>Valorant for its competitive edge 😤</li>
				<li>Stardew Valley for its calming routine 😊</li>
				<li>Slime Rancher because... <i>slimes are just too cute!</i></li>
			</ul>
			<li>Watching YouTube: Recently I've been into true crime documentaries...</li>
			<li>Getting a PR on my bench press at the gym 💪</li>
		</ul>
		<p>Since you've read this far, here's a <i>fun fact</i>: I have perfect pitch! I've been playing the piano and the violin since I was 5. Music has always been a significant part of my life 🎵</p>
	</div>
</PageLayout>
