---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm Susie",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			Hi, I’m Susie.
		</p>
	</div>
</PageLayout>
